.app {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.main {
  flex: 1;
  padding: 16px 16px 84px;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .app {
    flex-direction: row;
  }

  .main {
    padding: 24px 32px;
  }
}
